.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.15rem 0.25rem 0 rgba(0,0,0, 75);
}

h1 a {
  text-decoration: none;
  color: Lavender;
  font-family: 'Dancing Script', cursive;
}

.dropbtn {
  color: lavender;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: rgb(35, 35, 35);
  border-top: 1px;
  border-top-style: solid;
  border-top-color: indigo;
}

.dropbtn:hover {background-color: indigo;}
.dropbtn:focus {
  background-color: indigo;
  outline: none;
}

.dropdown {position:relative; display: inline-block;}
.dropdown-parent {
  width: 100%;
  text-align: center;
  background-color: rgb(35, 35, 35);
  border-radius: 0 0 5px 5px;
  border-top: 1.5px;
  border-top-style: solid;
  border-top-color: indigo;
}

.dropdown-wrapper {
  width: fit-content;
  margin: auto;
  display: flex;
}

.dropdown-content {
  display:block;
  position: absolute;
  background-color: rgb(50,50,50);
  min-width: 10rem;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0, 0.5);
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.dropdown-content a {
  color:lavender;
  padding: .75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: darkviolet;}
