li {
  list-style: none;
  display: flex;
  height: 55px;
}

ul {
  padding: 0;
  text-align: center;
}

h2{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  color: lavender;
  padding: 1rem;
  font-size: 1rem;
  width: 75%;
  cursor: pointer;
  background-color: rgb(30, 30, 30);
  border: 2px;
  border-style:solid;
  border-color: indigo;
  border-left: none;
}

button:focus {
  background-color: indigo;
  outline: none;
}
span {
  color: lavender;
  padding: 1rem;
  font-size: 1rem;
  width: 25%;
}
cdk-virtual-scroll-viewport {
height: 55vh;
}
