
/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: Lavender;
  background: rgb(45, 2, 77);
  margin: 0;
}

.root{
  display: grid;
  height: 100vh;
  grid-template-rows: 135px 1fr 75px;
  align-items: center;
}

.split-content-container{
  display: grid;
  margin: auto;
  height: 100%;
  background: #1e1e1e;
  width: 90%;
  grid-template-columns: 1fr 2.75fr;
  grid-template-areas: "left-column right-column";
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 0.15rem 0.25rem 0 rgba(0,0,0, 75);
}

.centered-content-container{
  display: grid;
  margin: auto;
  height: 100%;
  background: #1e1e1e;
  width: 90%;
  grid-template-columns: 1fr 2fr 1fr;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 0.15rem 0.25rem 0 rgba(0,0,0, 75);
  justify-items: center;
}

.centered-column{
  grid-column-start: 2;
  text-align: center;
}

.container {
  width:100%;
  background: #1e1e1e;
  display: grid;
  margin: 0;
  grid-template-columns: 100%;
  justify-items: center;
}

.container-item {
  grid-template-columns: 85%
}

.left-column {
  grid-area: left-column;
}
.grid-divider {
  border-right: 1.5px;
  border-right-style: solid;
  border-right-color: indigo;
}

.right-column {
  grid-area: right-column;
}
.button-link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: Lavender;
  background-color: #1e1e1e;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 0.15rem 0.25rem 0 rgba(0,0,0, 75);
  width: 90%;
  padding: .5rem;
  margin: -.5rem auto 0;
}
.info-box {
  background-color: #1e1e1e;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 0.15rem 0.25rem 0 rgba(0,0,0, 75);
  width: 90%;
  height: 4rem;
  margin: -1.25rem auto 1.5rem;
}

.info-box p{
  padding: 1rem;
}

/** Webkit only scrollbar edit until i figure out a global **/
::-webkit-scrollbar {
  width: .75rem;
  margin-left: -.75rem;
}
 ::-webkit-scrollbar-track {
  background: rgb(45, 2, 77);
  border-radius: 0 0.5rem 0.5rem 0;
  border-left-style: solid;
  border-left-width: .1rem;
  border-left-color: rgb(0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgb(103,103,103);
  border-radius: 0 0.5rem 0.5rem 0;
  border-left-style: solid;
  border-left-width: .1rem;
  border-left-color: rgb(0,0,0);
}